@import url('https://fonts.googleapis.com/css2? family = Shadows + Into + Light & display = swap');

body{
    font-family: 'Shadows Into Light', cursiva;
    color: rgb(230, 204, 252);
    background-color: rgb(230, 184, 248);
    margin: 0 auto;
}

.nav-container{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(101, 52, 148, 0.774);   
}

footer{
    font-family: 'Shadows Into Light', cursiva;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(101, 52, 148, 0.774);
}

h2 {
    margin: 0 auto;
    color: rgba(101, 52, 148, 0.774);
  }
  
  h3 {
    margin: 0 auto;
    color: rgba(101, 52, 148, 0.774);
  }
  